
<header class="site-navbar bg-white" role="banner">
<div class="container d-flex">
    <div class="header">
        <picture>
        <img src="" alt="">
        </picture>
    </div>
    <nav class="nav-bar-imob flex-grow-1">
        <ul class="d-flex flex-grow-1 justify-content-evenly">
            <li><a href="http://"></a>test</li>
            <li><a href="http://"></a>test</li>
            <li><a href="http://"></a>test</li>
            <li><a href="http://"></a>test</li>
        </ul>
    </nav>
</div>
</header>